<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CompileRun</servlet-name>
        <servlet-class>CompileRun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopApti</servlet-name>
        <servlet-class>controller.PopApti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUtil</servlet-name>
        <servlet-class>util.FileUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllAptitudes</servlet-name>
        <servlet-class>controller.GetAllAptitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUtil</servlet-name>
        <servlet-class>util.ImageUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAns</servlet-name>
        <servlet-class>controller.CheckAns</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompileRun</servlet-name>
        <url-pattern>/compilerun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apti</servlet-name>
        <url-pattern>/apti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUtil</servlet-name>
        <url-pattern>/fileUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllAptitudes</servlet-name>
        <url-pattern>/getallaptitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUtil</servlet-name>
        <url-pattern>/getimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAns</servlet-name>
        <url-pattern>/checkans</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>PopApti</servlet-name>
        <url-pattern>/popapti</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
